// color
$primary-color: #0B7D77;
$primary-hover-color: #096561;
$primary-selected-color: #CEE5E4;
$positive-color: #0B8652;
$negative-color: #D83A52;
$general-color: #0073EA;

$dark: #323338;
$dark-grey: #676879;
$grey: #C5C7D0;
$ui-grey: #E6E9EF;
$light-grey: #F5F6F8;
$white: #FFFFFF;

// font-size
$font-base: 1rem;
$h1-font-size: $font-base * 3;
$h2-font-size: $font-base * 2;
$h3-font-size: $font-base * 1.625;
$h4-font-size: $font-base * 1.25;
$h5-font-size: $font-base;
$p-font-size: $font-base;


